<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yangyl.dao.RolePermissionMapper" >
	
	<delete id="deleteRolePermissionByPermissionId" parameterType="Integer">
		delete from sys_roles_permissions where permission_id=#{permissionId}
	</delete>
</mapper>