<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yangyl.dao.UserRoleMapper" >
	
	<delete id="deleteUserRoleByRoleId" parameterType="Integer">
		delete from sys_users_roles where role_id=#{roleId}
	</delete>
</mapper>